<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<div class="row">
		<div class="col-12 col-sm-3 mb-4">
			<%= image_tag 'artem.jpg', class: 'img-fluid' %>
		</div>

		<div class="col-12 col-sm-9">
			<p>
				Splurty was built by <a target="_blank" href="http://github.com/ruby7sapphire">Artem</a> &mdash; a self-taught freelance web developer and designer who is on a mission to become a professional Ruby on Rails developer.
			</p>
			<p>
				After creating a few WordPress sites, with attention to detail but also at a very slow pace, it became evident that this career is not sustainable at the current level of skill. This is where Splurty app comes in, along with the rest of the Ruby on Rails full-stack course at <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.
			</p>
			<p>
				If you also want to embark on the journey to mastering web development &mdash; start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
			</p>
		</div>
	</div>

	<br class="clear" />
	<br />
	<br />
	<br />
	<br />

</div>
