@import "bootstrap";

// Utility

.clear {
	clear: both;
}

// General

hr {
	clear: both;
}

// Header

header {
	border-top: 9px solid #222222;
}

.circle {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	letter-spacing: 0.2px;
	position: relative;
	border-radius: 100%;
	background: #573894;
	border: 1px solid #F7F7F7;
	width: 80px;
	height: 80px;
	margin: 10px;
	padding-top: 1px;
	text-align: center;
	color: #FFF;
	font-size: 11px;
	line-height: 16px;
	cursor: pointer;
	transform: rotate(11deg);
	-ms-transform: rotate(11deg); /* IE 9 */
	-webkit-transform: rotate(11deg);	/* Opera, Chrome, and Safari */
}

.slogan {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	padding-top: 26px;
}

.links {
	padding-top: 26px;
}

.links a {
	color: black;
	font-size: 25px;
	border-bottom: 1px solid #573894;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

// Content

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 48px;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
}
