@import "bootstrap";

// Utility

.clear {
	clear: both;
}

// General

::selection {
	background-color: hsla(260, 100%, 69%, 0.7);
}

hr {
	clear: both;
}

// Header

header {
	border-top: 9px solid #222222;
}

.logo:hover {
	text-decoration: none;
}

.circle {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	letter-spacing: 0.2px;
	position: relative;
	border-radius: 100%;
	background: #573894;
	border: 1px solid #F7F7F7;
	width: 80px;
	height: 80px;
	margin: 10px;
	padding-top: 1px;
	text-align: center;
	color: #FFF;
	font-size: 11px;
	line-height: 16px;
	cursor: pointer;
	transform: rotate(11deg);
	-ms-transform: rotate(11deg); /* IE 9 */
	-webkit-transform: rotate(11deg);	/* Opera, Chrome, and Safari */
}

.slogan {
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	padding-top: 26px;
}

.links {
	padding-top: 26px;
}

.links a {
	color: black;
	font-size: 25px;
	border-bottom: 2px solid;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	text-decoration: none;
}

.links a:hover {
	color: #573894;
}

// Footer

.footer .row > div {
	margin-bottom: 1rem;
}

.next-quote {
	color: #db0666;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin-bottom: 10px;
}

.footer-blurb {
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	font-size: 14px;
}

@media (max-width: 750px) {
	.footer-blurb {
		text-align: left;
	}
}

// Content

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 2rem;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	margin-bottom: 2rem;
}

h2 span {
	color: #aaaaaa;
	font-family: 'Playfair Display', serif;
}

// Contribute modal

.modal {
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

// About page

.about {
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}
